.middlehome{
  margin:auto;
  width:100%;
  padding:100px 0px;
  text-align:center;
}

.middle{
  margin:auto;
  width:100%;
  padding: 20px;
  text-align:center;
}

.descriptions{
  margin:auto;
  width:90%;
  padding:20px;
  text-align:center;
}

.information{
  overflow-x:auto;
  text-align:center;
  margin:auto;
  width:80%;
  padding:20px;
}

.profile{
  margin:auto
  padding:10px;
  text-align:center;
}

img{
  max-width: 100%;
  padding:10px;
  width:auto;
}

table {
  width: 100%;
  table-layout: fixed;
}

table, th, td {
  border: 1px solid #0B1057!important;
  border-collapse: collapse;
  padding: 10px 0px;
}

img.photo{
  max-width:50%;
}

a:visited{
  color:#C70039!important;
}

a:hover{
  color:#DBC556!important;
}

a{
  font-family: consolas, sans-serif;
}

#rectangle{
  height: 5px;
  width: 600px;
  background-color: #DBC556;
  margin: auto;
}

@media screen and (max-width: 500px){
  .profile{
    width:100%!important;
  }
  img.photo{
    max-width:100%!important;
  }
}
