.red h1, .red h6, h2, h3, h4, h5 {
	 font-family: Consolas, Trebuchet MS, sans-serif;
}
 .red {
	 color: #900c3f;
}
 .red h1 {
	 font-size: 400%;
}
 .red h6 {
	 font-size: 75%;
}
 h2 {
	 color: #c70039;
	 font-size: 250%;
	 padding: 10px 0px;
}
 h3 {
	 color: #dbc556;
	 font-size: 200%;
}
 h4 {
	 color: #b9d28b;
	 font-size: 100%;
}
 h5 {
	 color: #0b1057;
	 font-size: 100%;
}
